.listForm {
    text-align: center;
    padding: 10px;
    input {
        margin: 5px;
        border-radius: 5px;
    }
    input[type= "text"]{
        padding: 12px;
    }
}

@media (max-width: 767px){
.listForm {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    input {
        margin: 5px;
    }
    Button {
        margin: 5px 0;
    }
  }
}